.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container .big {
  font-size: 4em;
}
.container .big * {
  display: inline;
}
